body {
    margin: 0;
    padding: 0;
    background-color: #222;
}

.container {
    width: 480px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin: 20vh auto;
}

.input-bar {
    background-color: white;
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    padding: 1.5rem 2rem;
    border-radius: 5px;
}

.input-bar #text {
    width: 300px;
    font-size: 18px;
    padding: .5rem 1rem;
    border-radius: 5px;
    border: #222 solid 1px;
}

.input-bar #button {
    width: 80px;
    background-color: #222;
    color: white;
    border-radius: 5px;
}

.output-bar {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    justify-content: center;
    padding: 1.5rem 2rem;
    border-radius: 5px;
}

.task-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: #222 solid 2px;
    padding: 0 1rem;
}

.task-bar button {
    color: #fff;
    background-color: #222;
    padding: .5rem .65rem;
    border-radius: 5px;
}

.task-bar p {
    font-size: 18px;
    font-weight: 500;
}